* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFC785;
    text-align: center;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    font-size: 7vmin;
    color: #155E95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#reset-btn{
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 7px;
    background-color: black;
    color: white;
}
#new-btn {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 7px;
    background-color: black;
    color: white;
}

#msg{
    color: #48A6A7; 
    font-size: 50px;
}

.hide{
    display: none;
}

.box:hover{
    cursor: pointer;
    background-color: #98D8EF;
}